@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dashboard{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 20%;
    background-color: #484746;
}

.dashboard-right{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.logosection{
    background-color: white;
    width: 100%;
}

.linksection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.link {
    display: flex;
    flex-direction: row;
    /* width: 50%; */
    /* justify-content: center; */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0px 40px 0px;
}

.link a{
    color: white;
    margin: 0;
    margin-left: 30px;
}

.calendar-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.welcome{
    width: 30%;
}

.welcome-info{
    border-right: 1px solid black;
}

.welcome-ops{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-ops button{
    width: 80%;
}

.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* background-color: #484746; */
}

.calendar-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar-info p{
    /* margin: 0; */
    margin-left: 200px;
    margin-bottom: 0;
    color: #7A7A79;
}

.calendar-info h1{
    margin-right: 200px;
    margin-bottom: 0;
}

.calendar-box{
    display: flex;
    height: 90%;
    width: 90%;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.cases-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    /* height: 100%; */
}

.newcases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}

.newcases-head{
    display: flex;
    width: 95%;
}

.newcases-head h1{
    margin: 0;
    text-align: left;
    /* margin-left: 25px; */
}

.newcases-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 85%;
    border-radius: 15px;
    /* background-color: #F8F8F8; */
    background-color: #F8F8F8;
}

.newcases-index{
    display: flex;
    flex-direction: row;
}

.newcases-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E1C7AA;
    margin: 10px 0px;
    width: 90%;
    border-radius: 10px;
}


.newcases-card p{
    text-align: left;
    width: 200px;
    font-size: 12px;
    margin-left: 10px;
}

.dates{
    margin-left: 80px;
}

.cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    /* height: 50%; */
}

.cases-head{
    display: flex;
    width: 95%;
}

.cases-head h1{
    text-align: left;
    margin: 0;
}

.cases-box{
    width: 95%;
    height: 85%;
    border-radius: 15px;
    background-color: #F8F8F8;
}

