.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* height: 150px; */
    /* width: 500px; */
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 500px;
    background-color: white;
    border: 2px solid #cc9c6c;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.modal-head{
    margin-bottom: 25px;
}

.submit-btn{
    background-color: #cc9c6c;
}

.close-btn{
    background-color: red;
    color: red;
}