@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border: 3px solid #C89A69;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #C89A69;
}
.search-heading
{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  left: 0;
  padding-top: 25px;
}

.searchTerm:focus{
  color: #C89A69;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #C89A69;
  background: #C89A69;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  transform: translate(50%, 500%)
}
.submit-button{
  position: absolute;
  transform: translate(175%, 600%)
}
.img-tracker
{
  transform: translate(0%, 50%)
}